/* Стили для иконки меню-бургера */
.burgerMenuIcon {
    font-size: 24px; /* Размер иконки */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* Стили для шапки */
.header {
    display: flex; /* Использование Flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределение элементов по горизонтали */
    align-items: center; /* Вертикальное выравнивание элементов */
    padding: 10px; /* Внутренние отступы */
    background-color: #fff; /* Белый фон */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для шапки */
    z-index: 101; /* Установка z-index, чтобы шапка отображалась поверх других элементов */
}

.header h1 {
    font-size: 20px; /* Размер шрифта заголовка */
    margin: 0; /* Сброс внешних отступов */
}